<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Debug uniquement : autorise l'API locale en HTTP (php artisan serve).
         En production, l'API est servie en HTTPS. -->
    <application android:debuggable="true" android:usesCleartextTraffic="true" />
</manifest>
